# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
env/

# Build
build/
dist/
*.egg-info/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Data and outputs
data/

outputs/logs/
outputs/runs/

outputs/*.pth


# OS
.DS_Store
Thumbs.db
